.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    padding: 20px;
}

select {
    width: 50%;
    padding: 5px;
}

select:active,
select:focus {
    outline: none;
    border-color: rgb(0, 17, 255);
    background-color: white;
}

h2,
.bold {
    font-size: 20px;
    font-weight: 600;
}

h2:hover,
.bold:hover {
    transform: scale(1.5);
    transition: all 0.3s;
    color: rgb(0, 17, 255);
}

button {
    cursor: pointer;
    background-color: transparent;
}

input,
button {
    padding: 5px;
}

input:focus,
button:focus,
button:hover {
    outline: none;
    border-color: rgb(0, 17, 255);
}
